# Converting between vector types
Credits: http://www.cookbook-r.com/ (Creative Commons Attribution-Share Alike 3.0 Unported License)

## Problem
You want to convert between numeric vectors, character vectors, and factors.

## Solution
Suppose you start with this numeric vector `n`:

In [1]:
n <- 10:14
n

[1] 10 11 12 13 14

To convert the numeric vector to the other two types (we’ll also save these results in `c` and `f`):

In [2]:
# Numeric to Character
c <- as.character(n)

# Numeric to Factor
f <- factor(n)

f

[1] 10 11 12 13 14
Levels: 10 11 12 13 14

To convert the character vector to the other two:

In [3]:
# Character to Numeric
as.numeric(c)

[1] 10 11 12 13 14

In [4]:
# Character to Factor
factor(c)

[1] 10 11 12 13 14
Levels: 10 11 12 13 14

Converting a factor to a character vector is straightforward:

In [5]:
# Factor to Character
as.character(f)

[1] "10" "11" "12" "13" "14"

However, converting a factor to a numeric vector is a little trickier. If you just convert it with as.numeric, it will give you the numeric coding of the factor, which probably isn’t what you want.

In [6]:
as.numeric(f)

[1] 1 2 3 4 5

In [7]:
# Another way to get the numeric coding, if that's what you want:
unclass(f)

[1] 1 2 3 4 5
attr(,"levels")
[1] "10" "11" "12" "13" "14"

The way to get the text values converted to numbers is to first convert it to a character, then a numeric vector.

In [8]:
# Factor to Numeric
as.numeric(as.character(f))

[1] 10 11 12 13 14