# Finding and removing duplicate records
Credits: http://www.cookbook-r.com/ (Creative Commons Attribution-Share Alike 3.0 Unported License)

## Problem
You want to find and/or remove duplicate entries from a vector or data frame.

## Solution
With vectors:

In [2]:
# Generate a vector 
set.seed(158)
x <- round(rnorm(20, 10, 5))
x

 [1] 14 11  8  4 12  5 10 10  3  3 11  6  0 16  8 10  8  5  6  6

In [3]:
# For each element: is this one a duplicate (first instance of a particular value
# not counted)
duplicated(x)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE
[13] FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [4]:
# The values of the duplicated entries
# Note that '6' appears in the original vector three times, and so it has two
# entries here.
x[duplicated(x)]

[1] 10  3 11  8 10  8  5  6  6

In [5]:
# Duplicated entries, without repeats
unique(x[duplicated(x)])

[1] 10  3 11  8  5  6

In [8]:
# The original vector with all duplicates removed. These do the same:
unique(x)
x[!duplicated(x)]

 [1] 14 11  8  4 12  5 10  3  6  0 16

 [1] 14 11  8  4 12  5 10  3  6  0 16