# Adding and removing columns from a data frame
Credits: http://www.cookbook-r.com/ (Creative Commons Attribution-Share Alike 3.0 Unported License)

## Problem
You want to add or remove columns from a data frame.

## Solution
There are many different ways of adding and removing columns from a data frame.

In [4]:
data <- read.table(header=TRUE, text='
 id weight
  1     20
  2     27
  3     24
')
data

  id weight
1  1     20
2  2     27
3  3     24

In [9]:
# Ways to add a column
data$size      <- c("small", "large", "medium")
# or
data[["size"]] <- c("small", "large", "medium")
# or
data[,"size"]  <- c("small", "large", "medium")
# or
data$size      <- 0   # Use the same value (0) for all rows

In [6]:
data

  id weight size
1  1     20    0
2  2     27    0
3  3     24    0

In [10]:
# Ways to remove the column
data$size      <- NULL
# or
data[["size"]] <- NULL
# or
data[,"size"]  <- NULL
# or
data[[3]]      <- NULL
# or
data[,3]       <- NULL
# or
data           <- subset(data, select=-size)

ERROR: Error in eval(expr, envir, enclos): object 'size' not found

In [11]:
data

  id weight
1  1     20
2  2     27
3  3     24