# Working with NULL, NA, and NaN
Credits: http://www.cookbook-r.com/ (Creative Commons Attribution-Share Alike 3.0 Unported License)

## Problem
You want to properly handle NULL, NA, or NaN values.

## Solution
Sometimes your data will include NULL, NA, or NaN. These work somewhat differently from “normal” values, and may require explicit testing.

Here are some examples of comparisons with these values:

In [1]:
# logical(0)
x <- NULL
x > 5

logical(0)

In [2]:
# NA
y <- NA
y > 5

[1] NA

In [3]:
# NA
z <- NaN
z > 5

[1] NA

Here’s how to test whether a variable has one of these values:

In [4]:
is.null(x)

[1] TRUE

In [5]:
is.na(y)

[1] TRUE

In [6]:
is.nan(z)

[1] TRUE

Note that NULL is different from the other two. NULL means that there is no value, while NA and NaN mean that there is some value, although one that is perhaps not usable. Here’s an illustration of the difference:

In [7]:
# Is y null?
is.null(y)

[1] FALSE

In [8]:
# Is x NA?
is.na(x)

Warning message:
In is.na(x): is.na() auf nicht-(Liste oder Vektor) des Typs 'NULL' angewendet

logical(0)

In the first case, it checks if y is NULL, and the answer is no. In the second case, it tries to check if x is `NA, but there is no value to be checked.

## Ignoring “bad” values in vector summary functions
If you run functions like mean() or sum() on a vector containing NA or NaN, they will return NA and NaN, which is generally unhelpful, though this will alert you to the presence of the bad value. Many of these functions take the flag na.rm, which tells them to ignore these values.

In [9]:
vy <- c(1, 2, 3, NA, 5)
# 1  2  3 NA  5
mean(vy)

[1] NA

In [10]:
mean(vy, na.rm=TRUE)

[1] 2.75

In [11]:
vz <- c(1, 2, 3, NaN, 5)
# 1   2   3 NaN   5
sum(vz)

[1] NaN

In [12]:
sum(vz, na.rm=TRUE)

[1] 11

In [13]:
# NULL isn't a problem, because it doesn't exist
vx <- c(1, 2, 3, NULL, 5)

In [14]:
sum(vx)

[1] 11

## Removing bad values from a vector
These values can be removed from a vector by filtering using is.na() or is.nan().

In [15]:
vy

[1]  1  2  3 NA  5

In [16]:
vy[ !is.na(vy) ]

[1] 1 2 3 5

In [17]:
vz

[1]   1   2   3 NaN   5

In [18]:
vz[ !is.nan(vz) ]

[1] 1 2 3 5

## Notes

There are also the infinite numerical values Inf and -Inf, and the associated functions is.finite() and is.infinite().